<div id="<%= dom_id tapicerium %>">
  <p>
    <strong>Nombre:</strong>
    <%= tapicerium.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= tapicerium.precio %>
  </p>

  <p>
    <strong>Pathimagen:</strong>
    <%= tapicerium.pathImagen %>
  </p>

</div>
